<div class="row">
  <div class="col-md-12">
    <div *ngIf="loginErrorMessage" class="alert alert-danger">
      {{ loginErrorMessage }}
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="loginFormSubmit()">
      <div class="form-group mt-3">
        <label for="email">Email:</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Enter email"
          formControlName="email"
        />
        <span
          class="error"
          *ngIf="formWasSubmitted && loginFormData.email.invalid"
          >Please enter valid email</span
        >
      </div>
      <div class="form-group mt-3">
        <label for="pwd">Password:</label>
        <input
          type="password"
          class="form-control"
          id="pwd"
          placeholder="Enter password"
          formControlName="password"
        />
        <span
          class="error"
          *ngIf="formWasSubmitted && loginFormData.password.invalid"
          >Please enter your password</span
        >
      </div>

      <button type="submit" class="btn btn-primary mt-3">Login</button>
    </form>
  </div>
</div>
