<div class="row">
  <table class="table table-hover" *ngIf="employees">
    <thead>
      <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Email</td>
        <td>Phone</td>
        <td>Action</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of employees | async; let i = index">
        <td>{{ emp.fname }}</td>
        <td>{{ emp.lname }}</td>
        <td>{{ emp.email }}</td>
        <td>{{ emp.phone }}</td>
        <td>
          <button (click)="deleteRec(i)" class="btn btn-outline-primary btn-xs">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
